
header{
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 251, 6, 0.5)),url("../portada.png");
}

.navegador {
    height:100%;
    width:100%;
}

.header {
    height:600px;
    width:100%;
    position: relative;
    align-items: center;
    text-align: center;
}

.wave {
    height:100px;
    width:100%;  
}

.header #texto1-header{
    width:100%;
    position:absolute;
    align-content: center;
    bottom: 0px;   
}

.header #texto2-header{
    width:100%;
    position:absolute;
    align-content: center;
    bottom: -30px;
   
   
}

.nosotros {
    height:300px;
    width:100%;
    text-align: justify;

}

.nosotros #titulo-nosotros{
    height: 50px;
    width:100%;
    text-align: center;
}

.nosotros #cuadro-nosotros{
    
    
    text-align: center;
    align-items: center;
}

.contacto {
   
    width:100%;
    text-align: justify;

}

.contacto #titulo-contacto{
    height: 50px;
    width:100%;
    text-align: center;
}

.contacto #cuadro-contacto{
 
    text-align: center;
    align-items: center;
}


.row #informacion{
    
    text-align: center;
    align-items: center;
}

footer{

margin-top: 50px;
margin-bottom: 50px;
text-align: center;

}

footer #direccion{

    margin: 5px;   
    padding: 5px;

}

h3, h5 {
    color: rgb(5, 5, 119);   
}

img {
   border-radius: 10px;
}

#cuadro-nosotros :hover{
transform: rotate(45deg);
scale: 1.5;
transition-duration: 500ms;
}

p{
text-align: center;

}

a {

color: rgb(0, 0, 0);

}