
header{
    background-size: cover;
    background-attachment: fixed;
    background-image: url("portadabg.png");
    background-image: url("portadabg.png"),linear-gradient(rgba(0, 0, 255, 0.5),  rgba(255, 251, 6, 0.5));
    
}

.navegador {
    height:100%;
    width:100%;
    background-color: white;
}

a.nav-link.active {
    color: black;
}

ul.nav.justify-content-end {
    background-color: white;
}


.header {
    height:600px;
    width:100%;
    position: relative;
    align-items: center;
    text-align: center;
}

.wave {
    height:100px;
    width:100%;  
}

.header #texto1-header {
    width: 100%;
    position: absolute;
    align-content: center;
    bottom: 86px;
    color: rgb(62, 62, 187);
}

.header #texto2-header {
    width: 100%;
    position: absolute;
    align-content: center;
    bottom: 46px;
    color: rgb(62, 62, 187);
}

.nosotros {
    height:540px;
    width:100%;
    text-align: justify;
}

.nosotros #titulo-nosotros{
    height: 50px;
    width:100%;
    text-align: center;
}

.nosotros #cuadro-nosotros{
    text-align: center;
    align-items: center;
}

.contacto {
    width: 100%;
    text-align: justify;
    height: 620px;
}

.contacto #titulo-contacto {
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 68px;
    height: 40px;
}

.contacto #cuadro-contacto{
 
    text-align: center;
    align-items: center;
}

.row #informacion{
    
    text-align: center;
    align-items: center;
}

h3, h5 {
    color: rgb(5, 5, 119);   
}

img {
   border-radius: 10px;
}

#cuadro-nosotros :hover{
transform: rotate(5deg);
scale: 1.5;
transition-duration: 500ms;
text-align: center;
padding: 10px;
margin: 0px;
}

p{
text-align: center;
margin-top: 28px;
margin-bottom: 45px;
padding: 24px;
text-align: justify;
}

a {

color: rgb(0, 0, 0);

}

p#cuadro-servicios {
    color: blue;
    font:unset;
    text-align:center;
    font-weight:bold; 
}

div#cuadro-contacto {
    margin: 0px;
    padding: 35px;
}

footer{

    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    }
    
    footer #direccion{
    
        margin: 5px;   
        padding: 5px;
        background:#cec8c8;
        height: 170px;
    
    }
   footer .col-3 {
        padding: 19px;
    }