
header{
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(2,2,159,255), rgba(255,201,14,255));
    
}

.navegador {
    height:100%;
    width:100%;
    background-color: white;
}

a.nav-link.active {
    color: black;
}

.header {
    height:600px;
    width:100%;
    position: relative;
    align-items: center;
    text-align: center;
}

.wave {
    height:100px;
    width:100%;  
}

.header #texto1-header {
    width: 100%;
    position: absolute;
    align-content: center;
    bottom: 86px;
    color: rgb(62, 62, 187);
}

.header #texto2-header {
    width: 100%;
    position: absolute;
    align-content: center;
    bottom: 46px;
    color: rgb(62, 62, 187);
}

.nosotros #titulo-servicios{
    height: 50px;
    width:100%;
    text-align: center;
}

.nosotros #cuadro-nosotros{
    text-align: center;
    align-items: center;
}



.row #informacion{
    
    text-align: center;
    align-items: center;
}

h5,h4,h3,h2,h1 {
    color: rgb(5, 5, 119);
    align-self: center;

}

img {
   border-radius: 10px;
}

#cuadro-nosotros :hover{
transform: rotate(5deg);
scale: 1.5;
transition-duration: 500ms;
text-align: center;
padding: 10px;
margin: 0px;
}

p{
text-align: center;
margin-top: 28px;
margin-bottom: 45px;
padding: 24px;
text-align: justify;
font-size: larger;
}


p#cuadro-servicios {
    color: blue;
    font:unset;
    text-align:center;
    font-weight:bold; 
}

#footer{

    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    }
    
.nav-item{

font-size: large;
color: rgb(24, 24, 138);
font-weight: bold;


}

a {

    color: rgb(0, 0, 0);
    
    }

    .feature-icon-small {
        width: 3rem;
        height: 3rem;
    }

#quienes-somos{

text-align: center;

}

.py-5 {
    padding-top: 0rem!important;
    padding-bottom: 2rem!important;
}

#custom-cards{
    text-align: center;
}



.separador{
height: 400px;
}

#floatingmsg{

    height: 200px;
}

.texto-carousel {

color: aliceblue;
text-shadow: 1px;
font-size: 6ch;

}